@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IState<CatalogState> Catalog
@inject ICatalogStore CatalogStore


@if (CatalogSelectors.IsLoading(Catalog.Value))
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
}
else if (CatalogSelectors.IsEmpty(Catalog.Value))
{
      <MudText Typo="Typo.h6" Color="Color.Warning">За даними критеріями товари не знайдено</MudText>
      <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@CatalogStore.Reset" Class="mx-auto d-block">
          Скинути фільтри
      </MudButton>
}
else if (CatalogSelectors.HasError(Catalog.Value))
{
    <MudText Typo="Typo.body1" Color="Color.Error">
        @CatalogSelectors.Error(Catalog.Value)
    </MudText>
}
else
{
      <MudGrid>
          @foreach(var item in CatalogSelectors.Items(Catalog.Value))
          {
              <MudItem xs="12" md="4">
                  <MudCard>

                      <MudCardHeader>

                          <CardHeaderContent>
                              <MudText Typo="Typo.button" Color="Color.Primary">Атрикул: @item.Id </MudText>
                          </CardHeaderContent>

                          <CardHeaderActions>
                              <MudChip T="string" Variant="Variant.Text" Color="Color.Info">Новинка</MudChip>
                          </CardHeaderActions>
                      </MudCardHeader>

                      <MudCardContent>

                          <div class="d-flex justify-center">
                              <MudImage ObjectFit="ObjectFit.Cover" Src="assets/images/placeholder3.png"
                                        Alt="Product" Class="rounded-lg"/>
                          </div>
                          <MudText Typo="Typo.h6">@item.Name Old Paint</MudText>
                          <MudText Typo="Typo.subtitle1">@item.Amount @item.Currency</MudText>
                      </MudCardContent>

                      <MudCardActions>
                          <MudButton Variant="Variant.Outlined" Color="Color.Default" FullWidth="true"
                                     StartIcon="@Icons.Material.Filled.ShoppingCartCheckout">
                              Швидке замовлення
                          </MudButton>
                      </MudCardActions>

                  </MudCard>

              </MudItem>
          }
      </MudGrid>

      <MudPagination ShowFirstButton="true"
                     Size="Size.Large"
                     ShowLastButton="true"
                     Class="mt-10 mb-20"
                     Count="@CatalogSelectors.TotalPages(Catalog.Value)"
                     Selected="@CatalogSelectors.TotalPages(Catalog.Value)"
                     SelectedChanged="@CatalogStore.GoToPage"/>
}


@code {


}
