@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IState<CatalogState> CatalogState
@inject ICatalogStore CatalogStore


@if (CatalogSelectors.IsLoading(CatalogState.Value))
{
    <MudProgressLinear Color="Color.Primary" Size="Size.Medium" Indeterminate="true" Class="my-5"/>
}
else if (CatalogSelectors.IsEmpty(CatalogState.Value))
{
    <MudText Align="Align.Center" Typo="Typo.h6" Color="Color.Warning" Class="mb-5" >
        За даними критеріями товар не знайдено
    </MudText>
      <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@CatalogStore.Reset" Class="mx-auto d-block">
          Скинути фільтри
      </MudButton>
}
else if (CatalogSelectors.HasError(CatalogState.Value))
{
    <MudText Align="Align.Center" Typo="Typo.h3" Color="Color.Error">
        @CatalogSelectors.Error(CatalogState.Value)
    </MudText>
}
else
{
      <MudGrid>
          @foreach(var item in CatalogSelectors.Items(CatalogState.Value))
          {
              <MudItem xs="12" md="4">
                  <MudCard>

                      <MudCardHeader>

                          <CardHeaderContent>
                              <MudText Typo="Typo.button" Color="Color.Primary">Атрикул: @item.Id </MudText>
                          </CardHeaderContent>

                          <CardHeaderActions>
                              <MudChip T="string" Variant="Variant.Text" Color="Color.Info">Новинка</MudChip>
                          </CardHeaderActions>
                      </MudCardHeader>

                      <MudCardContent>

                          <div class="d-flex justify-center">
                              <img class="rounded-lg"
                                   style="max-width: 100%; height: auto; object-fit: cover;"
                                   src="@ProductImageUrl(item.Id)"
                                   alt="Product"
                                   onerror="this.onerror=null;this.src='@PlaceholderUrl';" />
                          </div>
                          <MudText Typo="Typo.h6">
                              @item.Name
                          </MudText>
                          <MudText Align="Align.End" Typo="Typo.subtitle1">
                              @item.Amount @item.Currency
                          </MudText>
                      </MudCardContent>

                      <MudCardActions>
                          <MudButton Variant="Variant.Outlined" Color="Color.Default" FullWidth="true"
                                     StartIcon="@Icons.Material.Filled.ShoppingCartCheckout">
                              Швидке замовлення
                          </MudButton>
                      </MudCardActions>

                  </MudCard>

              </MudItem>
          }
      </MudGrid>

      <MudPagination ShowFirstButton="true"
                     Size="Size.Large"
                     ShowLastButton="true"
                     Class="mt-10 mb-20"
                     Count="@CatalogSelectors.TotalPages(CatalogState.Value)"
                     @bind-Selected="CurrentPage" />
}


@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        CatalogStore.Reload();
    }

    int CurrentPage
    {
        get => CatalogState.Value.Params.PageNumber;
        set => CatalogStore.GoToPage(value);
    }

    private static string ProductImageUrl(int id)
        => $"https://raw.githubusercontent.com/Kedr-Class/images/main/furniture/{id}.jpg";

    private const string PlaceholderUrl =
        "https://raw.githubusercontent.com/Kedr-Class/images/main/furniture/00000000.jpg";
}
