@using Presentation.Shared.States.Catalog
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IState<CatalogState> CatalogState
@inject ICatalogStore CatalogStore
@inject IDialogService DialogService
@inject IJSRuntime Js

@if (State.IsLoading())
{
    <MudProgressLinear Color="Color.Primary" Size="Size.Medium" Indeterminate="true" Class="my-5"/>
}
else if (State.IsEmpty())
{
    <MudText Align="Align.Center" Typo="Typo.h6" Color="Color.Warning" Class="mb-5" >
        За даними критеріями товар не знайдено
    </MudText>
      <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@CatalogStore.Reset" Class="mx-auto d-block">
          Скинути фільтри
      </MudButton>
}
else if (State.HasError())
{
    <MudText Align="Align.Center" Typo="Typo.h3" Color="Color.Error">
        @State.GetError()
    </MudText>
}
else
{
      <MudGrid>
          @foreach(var item in State.GetItems())
          {
              <MudItem xs="12" md="4">
                  <MudCard>

                      <MudCardHeader>

                          <CardHeaderContent>
                              <MudText Typo="Typo.button" Color="Color.Info">Атрикул: @item.Id </MudText>
                          </CardHeaderContent>

                          <CardHeaderActions>
                              @if ((int)item.Stock >= 3)
                              {
                                  <MudChip T="string" Variant="Variant.Text" Color="Color.Primary">
                                      в наявності
                                  </MudChip>
                              }
                              else
                              {
                                  <MudChip T="string" Variant="Variant.Text" Color="Color.Error">
                                      під замовлення
                                  </MudChip>
                              }
                          </CardHeaderActions>
                      </MudCardHeader>

                      <MudCardContent>
                          <div class="d-flex justify-center">
                              <img class="rounded-lg"
                                   style="max-width: 100%; height: auto; object-fit: cover;"
                                   src="@item.Photo"
                                   alt="Product"
                                   onerror="this.onerror=null;this.src='@DefaultImageUrl';" />
                          </div>

                          <MudText @key="item.Name" Typo="Typo.h6">
                              <MudHighlighter
                                  Text="@item.Name"
                                  HighlightedTexts="@(new[] { State.GetSearchTerm() })"/>
                          </MudText>
                          <MudText Align="Align.End" Typo="Typo.subtitle1">
                              @item.GetPriceForType(_priceType) @item.GetCurrencyForType(_priceType)
                          </MudText>
                      </MudCardContent>

                      <MudCardActions Class="d-flex flex-wrap gap-2 w-100">

                          <MudButton Class="flex-grow-1 mud-width-full-sm"
                                     OnClick="@((e) => OpenСontactDialogAsync(item.Id, item.Name))"
                                     Variant="Variant.Outlined" Color="Color.Default"
                                     StartIcon="@Icons.Material.Filled.ShoppingCartCheckout">
                              Швидке замовлення
                          </MudButton>

                          <MudButton Class="flex-grow-1 mud-width-full-sm"
                                     Href="@($"/product/{item.Id}")"
                                     Variant="Variant.Outlined" Color="Color.Default"
                                     StartIcon="@Icons.Material.Filled.NextPlan">
                              Детальніше
                          </MudButton>

                      </MudCardActions>

                  </MudCard>

              </MudItem>
          }
      </MudGrid>

      <MudPagination ShowFirstButton="true"
                     Size="Size.Large"
                     ShowLastButton="true"
                     Class="mt-10 mb-20"
                     Count="@State.GetTotalPages()"
                     Selected="@CurrentPage"
                     SelectedChanged="OnPageChanged"/>
}

@code {
    const string DefaultImageUrl = "https://raw.githubusercontent.com/Kedr-Class/images/main/furniture/00000000.jpg";
    CatalogState State => CatalogState.Value;
    string _priceType = "price_10";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        CatalogStore.Load();
    }

    int CurrentPage
    {
        get => State.GetCurrentPageNumber();
        set => CatalogStore.SetPageNumber(value);
    }

    private Task OpenСontactDialogAsync(int id, string name)
    {
        string order = $"🆔({id.ToString()}) — 🧾{name}";

        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Small,
            FullWidth = true
        };
        var parameters = new DialogParameters<СontactDialog>
        {
            { x => x.Model, new QuickOrderVm(message: order)}
        };

        return DialogService.ShowAsync<СontactDialog>("Simple Dialog", parameters, options);
    }

    private async Task OnPageChanged(int page)
    {
        CatalogStore.SetPageNumber(page);
        CurrentPage = page;

        await Js.InvokeVoidAsync("scrollToTop");
    }
}
